.angular-hovercard {
    position: absolute;
    width: 100%;
    height:100%;
    top: 20%;
}

.angular-hovercard-label {
    color: #c0392b;
    position: relative;
}

.angular-hovercard-detail {
    -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
           border-radius: 3px;

    -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
           transition: opacity 0.5s;

    background: #eee;
    border: 1px solid #000;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 400px;
    color: #fff;
    size: 20px;
    z-index: 999;
}

.angular-hovercard-detail.angular-hovercard-active {
    opacity: .93;
    visibility: visible;
}
